<div><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet"><style>
    .clear {
  clear: both;
}

.rest {
  font-family: 'Open Sans';
  max-width: 1120px;
  margin: 50px auto;
}

.rest * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rest a {
  color: #f7ad41;
  text-decoration: none;
}

.rest__header {
  margin-bottom: 30px;
  color: #5b5b5b;
}

.rest__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}

.rest__title small {
  font-size: 65%;
  font-weight: 400;
}

.rest__base-uri {
  padding-left: 25px;
  font-size: 14px;
}

.rest__uri-parameters {
  font-size: 14px;
}

.rest .examples {
  margin-left: 0.5em;
}

.rest .items {
    background: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
}

.rest blockquote {
  margin: 0 0 20px;
  padding: 15px 20px 15px 15px;
  border-left: 5px solid #F7AD41;
  background: #FFF2DF;
  position: relative;
  font-size: 16px;
  color: #5b5b5b;
}

.rest blockquote ol:first-child,
.rest blockquote p:first-child,
.rest blockquote ul:first-child {
  margin-top: 0;
}

.rest blockquote ol:last-child,
.rest blockquote p:last-child,
.rest blockquote ul:last-child {
  margin-bottom: 0;
}

.rest pre {
  border: none;
  border-radius: 0;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F0F0F0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
}

/* Navigation */

.rest-nav {
  font-size: 16px;
  font-weight: 800;
  color: #666;
  border-bottom: 2px solid #f7ad41;
  padding-left: 0;
  list-style: none;
}

.rest-nav__item {
  display: inline-block;
}

.rest-nav__item a {
  display: block;
  background: #f6f6f6;
  color: #666;
  padding: 10px 15px;
  text-decoration: none;
}

.rest-nav__item a:hover {
  background-color: #eee;
}

.rest-nav__item.active a {
  color: #fff;
  background-color: #f7ad41;
  cursor: default;
  pointer-events: none;
}

/* Objects */

.objects {
  color: #5b5b5b;
}

.object__body {
  display: none;
  padding: 0 10px;
}

.object__body.active {
  display: block;
}

.object__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0;
}

.object__description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.object__body h2 {
  font-size: 1.2em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Resources */

.resource {
  margin-bottom: 20px;
  background-color: #4b4b4b;
  padding: 15px 20px;
  color: #ccc;
}

.resource__body {
  margin: 0;
  overflow: overlay;
  word-break: break-word;
}

.resource__title {

}

.resource__parent-path {
  color: #999;
  font-weight: 400;
  line-height: 37px;
}

.resource__relative-path {
  color: #ccc;
  line-height: 37px;
}

/* Methods */

.methods {
  float: right;
}

.method__link {
  display: block;
  float: left;
  margin-left: 5px;
}

.method__badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  min-width: 80px;
  background-color: #f7ad41;
  white-space: nowrap;
}

.method__badge:hover {
  opacity: 0.9;
}

/* Modal */

.b-modal {
  position: fixed;
  z-index: 1070;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  height: 100%;
}

.b-modal:focus {
  outline: none;
}

.b-modal.active {
  display: block;
}

.b-modal__body {
  background-color: #fff;
  padding: 0 10px 20px;
  width: 100%;
  width: calc(100% - 20px);
  max-width: 900px;
  position: absolute;
  z-index: 1080;
  top: 100px;
  left: 50%;
  margin-bottom: 50px;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.b-modal__header {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.b-model__close-btn {
  background: none;
  border: none;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  cursor: pointer;
}

.b-model__close-btn:hover {
  opacity: .6;
}

.b-model__close-btn:focus {
  outline: 0;
}

.b-model__title {
  margin: 10px 0 0;
}

.b-model__badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  min-width: 80px;
  background-color: #f7ad41;
  white-space: nowrap;
}

.b-model__parent-path {
  color: #999;
  font-weight: 400;
}

.b-model__relative-path {
  color: #5b5b5b;
}

  </style><div><div class="rest"><div class="rest__header"><h1 class="rest__title">UNISYS-TEST API documentation <small>version v4</small></h1><p class="rest__base-uri">/Unisys</p><h3 id="quick_instructions"><a href="#quick_instructions">Quick instructions</a></h3><ul><li>Do your best, take it easy.</li><li>Feel free to ask about any possible doubt.</li><li><a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x41;&#x6e;&#x64;&#x72;&#x65;&#x2e;&#x41;&#x72;&#x6f;&#x40;&#x62;&#x72;&#x2e;&#x75;&#x6e;&#x69;&#x73;&#x79;&#x73;&#x2e;&#x63;&#x6f;&#x6d;">&#x41;&#x6e;&#x64;&#x72;&#x65;&#x2e;&#x41;&#x72;&#x6f;&#x40;&#x62;&#x72;&#x2e;&#x75;&#x6e;&#x69;&#x73;&#x79;&#x73;&#x2e;&#x63;&#x6f;&#x6d;</a></li><li><a href="&#109;&#97;&#x69;&#x6c;&#116;&#111;&#58;&#x46;&#114;&#x65;&#100;&#x65;&#114;&#x69;&#99;&#111;&#x2e;&#77;&#111;&#117;&#114;&#x61;&#x40;&#x42;&#x52;&#x2e;&#117;&#110;&#x69;&#115;&#x79;&#115;&#x2e;&#x63;&#x6f;&#109;">&#x46;&#114;&#x65;&#100;&#x65;&#114;&#x69;&#99;&#111;&#x2e;&#77;&#111;&#117;&#114;&#x61;&#x40;&#x42;&#x52;&#x2e;&#117;&#110;&#x69;&#115;&#x79;&#115;&#x2e;&#x63;&#x6f;&#109;</a></li><li>Send the application test even if is not completed.</li></ul><h3 id="building_the_back_end_application"><a href="#building_the_back_end_application">Building the back-end Application</a></h3><ul><li>The application must have an embedded in-memory database to store data.</li><li>The database used should be: either H2, HSQL, SQLite or Derby.</li><li>The database and tables creation should be done by Maven or by the application.</li><li>Build JPA/Hibernate classes using annotations to persist these objects in the database.</li></ul><h3 id="building_the_front_end_application"><a href="#building_the_front_end_application">Building the front-end Application</a></h3><ul><li>Build a front end application to consume the api.</li><li>Use a front end framework (AngularJS, ReactJS, aurelia, vuejs, etc) Your choice.</li></ul><h3 id="build_instructions"><a href="#build_instructions">Build Instructions</a></h3><ul><li>Maven must be used to build, run tests and start the application.</li><li>The tests must be started with the mvn test command.</li><li>The application must start with a Maven command: mvn exec:java, mvn jetty:run, mvn spring-boot:run, etc.</li></ul><h3 id="delivery_method"><a href="#delivery_method">Delivery method</a></h3><ul><li>You must provide gitlab username. A free GitLab account can be created at <a href="http://gitlab.com">http://gitlab.com</a>.</li><li>Once finished, you must give the user @UnisysBrazil read permission on your repository so that you can be evaluated.</li></ul><h3 id="other_informations"><a href="#other_informations">Other informations</a></h3><ul><li>You must provide a README.txt (plain text) or a README.md (Markdown) file at the root of your repository, explaining:</li><li>How to compile and run the application with an example for each call.</li><li>How to run the suite of automated tests.</li><li>Feel free to add any additional comments.</li></ul><h3 id="technical_api_instructions"><a href="#technical_api_instructions">Technical API instructions</a></h3><ul><li>Job is a computer routine which can have depedency's from others jobs.</li><li>Cannot have self-dependency between jobs.</li><li>Differentiate jobs by their names.</li><li>Take a look in the sort method inside the Job api!!</li> <br> <li>A sample of valid job hierarchy. All paths are valid!! <img src="https://gitlab.com/UnisysBrazil/UnisysRecruit/raw/master/valid.png" alt="https://gitlab.com/UnisysBrazil/UnisysRecruit/raw/master/valid.png"></li><li>A sample of invalid job hierarchy. Both path are invalid!! <img src="https://gitlab.com/UnisysBrazil/UnisysRecruit/raw/master/invalid.png" alt="https://gitlab.com/UnisysBrazil/UnisysRecruit/raw/master/invalid.png"></li><br><li>Below, the api information!</li></ul></div><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#jobs">/jobs</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#jobs__id_">/jobs/{id}</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#tasks">/tasks</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#tasks__id_">/tasks/{id}</a></li></ul><div class="clear"></div><div class="objects"><div class="object__body active" id="jobs"><h3 class="object__title">/jobs</h3><p class="object__description">RETURN LIST OF JOBS.</p><div class="resource"><div><h4 class="resource__body"><span class="resource__parent-path"></span><span class="resource__relative-path">/jobs</span> <span class="methods"><a class="method__link" href="#jobs_get"><span class="method__badge badge_get">get</span></a> <a class="method__link" href="#jobs_post"><span class="method__badge badge_post">post</span></a><div class="clear"></div></span></h4></div><div class="b-modal" tabindex="0" id="jobs_get"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_get">get</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/jobs</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#jobs_get_request">Request</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#jobs_get_response">Response</a></li></ul><div class="objects"><div class="object__body active" id="jobs_get_request"><h3>Query Parameters</h3><ul><li><strong>$sortByWeight</strong>: <em>(boolean)</em><p>Sort by the sum weight of tasks inside a job. The highest value first.</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>true</code></pre></div></li></ul></div><div class="object__body" id="jobs_get_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Type</strong>: array of Job</p></div></div></div></div></div><div class="b-modal" tabindex="0" id="jobs_post"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_post">post</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/jobs</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#jobs_post_request">Request</a></li></ul><div class="objects"><div class="object__body active" id="jobs_post_request"><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Possible types</strong>:<ul><li><p><strong>Job</strong></p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>active</strong>: <em>required (boolean)</em></li><li><strong>tasks</strong>: <em>(array of Task)</em><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></li><li><strong>parentJob</strong>: <em>($recur)</em><p>Parent Job</p></li></ul></div></li><li><p><strong>Job</strong></p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>active</strong>: <em>required (boolean)</em></li><li><strong>tasks</strong>: <em>(array of Task)</em><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></li><li><strong>parentJob</strong>: <em>(number)</em><p>Parent Job</p></li></ul></div></li></ul></p><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "Job1",
  "active": true,
  "parentJob": {
    "id": 2,
    "name": "Second job",
    "active": true
  },
  "tasks": [
    {
      "id": 1,
      "name": "First task",
      "weight": 5,
      "completed": true,
      "createdAt": "2015-05-23"
    },
    {
      "id": 2,
      "name": "Second task",
      "weight": 2,
      "completed": false,
      "createdAt": "2017-05-23"
    }
  ]
}</code></pre></div></div></div></div></div></div></div></div><div class="object__body" id="jobs__id_"><h3 class="object__title">/jobs/{id}</h3><p class="object__description">RETURN A JOB.</p><div class="resource"><div><h4 class="resource__body"><span class="resource__parent-path"></span><span class="resource__relative-path">/jobs/{id}</span> <span class="methods"><a class="method__link" href="#jobs__id__get"><span class="method__badge badge_get">get</span></a> <a class="method__link" href="#jobs__id__delete"><span class="method__badge badge_delete">delete</span></a> <a class="method__link" href="#jobs__id__put"><span class="method__badge badge_put">put</span></a><div class="clear"></div></span></h4></div><div class="b-modal" tabindex="0" id="jobs__id__get"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_get">get</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/jobs/{id}</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#jobs__id__get_request">Request</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#jobs__id__get_response">Response</a></li></ul><div class="objects"><div class="object__body active" id="jobs__id__get_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (integer)</em><p>Identifier of job</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>1</code></pre></div></li></ul></div><div class="object__body" id="jobs__id__get_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Possible types</strong>:<ul><li><p><strong>Job</strong></p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>active</strong>: <em>required (boolean)</em></li><li><strong>tasks</strong>: <em>(array of Task)</em><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></li><li><strong>parentJob</strong>: <em>($recur)</em><p>Parent Job</p></li></ul></div></li><li><p><strong>Job</strong></p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>active</strong>: <em>required (boolean)</em></li><li><strong>tasks</strong>: <em>(array of Task)</em><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></li><li><strong>parentJob</strong>: <em>(number)</em><p>Parent Job</p></li></ul></div></li></ul></p><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "Job1",
  "active": true,
  "parentJob": {
    "id": 2,
    "name": "Second job",
    "active": true
  },
  "tasks": [
    {
      "id": 1,
      "name": "First task",
      "weight": 5,
      "completed": true,
      "createdAt": "2015-05-23"
    },
    {
      "id": 2,
      "name": "Second task",
      "weight": 2,
      "completed": false,
      "createdAt": "2017-05-23"
    }
  ]
}</code></pre></div></div></div></div></div></div><div class="b-modal" tabindex="0" id="jobs__id__delete"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_delete">delete</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/jobs/{id}</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#jobs__id__delete_request">Request</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#jobs__id__delete_response">Response</a></li></ul><div class="objects"><div class="object__body active" id="jobs__id__delete_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (integer)</em><p>Identifier of job</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>1</code></pre></div></li></ul></div><div class="object__body" id="jobs__id__delete_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2></div></div></div></div></div><div class="b-modal" tabindex="0" id="jobs__id__put"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_put">put</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/jobs/{id}</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#jobs__id__put_request">Request</a></li></ul><div class="objects"><div class="object__body active" id="jobs__id__put_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (integer)</em><p>Identifier of job</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>1</code></pre></div></li></ul><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Possible types</strong>:<ul><li><p><strong>Job</strong></p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>active</strong>: <em>required (boolean)</em></li><li><strong>tasks</strong>: <em>(array of Task)</em><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></li><li><strong>parentJob</strong>: <em>($recur)</em><p>Parent Job</p></li></ul></div></li><li><p><strong>Job</strong></p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>active</strong>: <em>required (boolean)</em></li><li><strong>tasks</strong>: <em>(array of Task)</em><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></li><li><strong>parentJob</strong>: <em>(number)</em><p>Parent Job</p></li></ul></div></li></ul></p><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "Job1",
  "active": true,
  "parentJob": {
    "id": 2,
    "name": "Second job",
    "active": true
  },
  "tasks": [
    {
      "id": 1,
      "name": "First task",
      "weight": 5,
      "completed": true,
      "createdAt": "2015-05-23"
    },
    {
      "id": 2,
      "name": "Second task",
      "weight": 2,
      "completed": false,
      "createdAt": "2017-05-23"
    }
  ]
}</code></pre></div></div></div></div></div></div></div></div><div class="object__body" id="tasks"><h3 class="object__title">/tasks</h3><p class="object__description">RETURN LIST OF TASKS.</p><div class="resource"><div><h4 class="resource__body"><span class="resource__parent-path"></span><span class="resource__relative-path">/tasks</span> <span class="methods"><a class="method__link" href="#tasks_get"><span class="method__badge badge_get">get</span></a> <a class="method__link" href="#tasks_post"><span class="method__badge badge_post">post</span></a><div class="clear"></div></span></h4></div><div class="b-modal" tabindex="0" id="tasks_get"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_get">get</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/tasks</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#tasks_get_request">Request</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#tasks_get_response">Response</a></li></ul><div class="objects"><div class="object__body active" id="tasks_get_request"><h3>Query Parameters</h3><ul><li><strong>$createdAt</strong>: <em>(date-only)</em><p>Filter tasks by created date.</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>2015-05-23</code></pre></div></li></ul></div><div class="object__body" id="tasks_get_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Type</strong>: array of Task</p><p><strong>Items</strong>: Task</p><div class="items"><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul></div></div></div></div></div></div><div class="b-modal" tabindex="0" id="tasks_post"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_post">post</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/tasks</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#tasks_post_request">Request</a></li></ul><div class="objects"><div class="object__body active" id="tasks_post_request"><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Type</strong>: object</p><p><strong>Properties</strong></p><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></div></div></div></div></div></div><div class="object__body" id="tasks__id_"><h3 class="object__title">/tasks/{id}</h3><p class="object__description">RETURN A TASK.</p><div class="resource"><div><h4 class="resource__body"><span class="resource__parent-path"></span><span class="resource__relative-path">/tasks/{id}</span> <span class="methods"><a class="method__link" href="#tasks__id__get"><span class="method__badge badge_get">get</span></a> <a class="method__link" href="#tasks__id__put"><span class="method__badge badge_put">put</span></a> <a class="method__link" href="#tasks__id__delete"><span class="method__badge badge_delete">delete</span></a><div class="clear"></div></span></h4></div><div class="b-modal" tabindex="0" id="tasks__id__get"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_get">get</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/tasks/{id}</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#tasks__id__get_request">Request</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#tasks__id__get_response">Response</a></li></ul><div class="objects"><div class="object__body active" id="tasks__id__get_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (integer)</em><p>Identifier of task</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>1</code></pre></div></li></ul></div><div class="object__body" id="tasks__id__get_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Type</strong>: object</p><p><strong>Properties</strong></p><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></div></div></div></div><div class="b-modal" tabindex="0" id="tasks__id__put"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_put">put</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/tasks/{id}</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#tasks__id__put_request">Request</a></li></ul><div class="objects"><div class="object__body active" id="tasks__id__put_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (integer)</em><p>Identifier of task</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>1</code></pre></div></li></ul><h3>Body</h3><p><strong>Media type</strong>: application/json</p><p><strong>Type</strong>: object</p><p><strong>Properties</strong></p><ul><li><strong>id</strong>: <em>required (integer)</em></li><li><strong>name</strong>: <em>required (string)</em></li><li><strong>weight</strong>: <em>required (number)</em></li><li><strong>completed</strong>: <em>(boolean)</em></li><li><strong>createdAt</strong>: <em>(date-only)</em></li></ul><p><strong>Example</strong>:</p><div class="examples"><pre><code>{
  "id": 1,
  "name": "First task",
  "weight": 5,
  "completed": true,
  "createdAt": "2015-05-23"
}</code></pre></div></div></div></div></div></div><div class="b-modal" tabindex="0" id="tasks__id__delete"><div class="b-modal__body"><div class="b-modal__header"><button type="button" class="b-model__close-btn" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="b-model__title" id="myModalLabel"><span class="b-model__badge badge_delete">delete</span> <span class="b-model__parent-path"></span><span class="b-model__relative-path">/tasks/{id}</span></h4></div><div class="b-modal-content"><ul class="rest-nav"><li class="rest-nav__item active"><a class="rest-nav__link" href="#tasks__id__delete_request">Request</a></li><li class="rest-nav__item"><a class="rest-nav__link" href="#tasks__id__delete_response">Response</a></li></ul><div class="objects"><div class="object__body active" id="tasks__id__delete_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (integer)</em><p>Identifier of task</p><p><strong>Example</strong>:</p><div class="examples"><pre><code>1</code></pre></div></li></ul></div><div class="object__body" id="tasks__id__delete_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2></div></div></div></div></div></div></div></div></div></div><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css"><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script><script>
    if(!window.$) {
      document.write('<script\
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"\
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="\
        crossorigin="anonymous"></scr' + 'ipt>');
    }
  </script><script>
    "use strict";

(function () {
  $('.rest pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });

  $('.rest-nav__item').click(function() {
    $(this).siblings().removeClass('active');
    $(this).addClass('active');
  });

  function turnMenuItemById(id) {
    $('.rest-nav__link[href$="' + id + '"]')
      .parent()
      .addClass('active')
      .siblings()
      .removeClass('active');
  }

  $(window).bind('hashchange', function() {
    var hash = document.location.hash;
    var element = $(hash);
    var parents = element.parents(":hidden");  

    turnMenuItemById(hash);  

    $.each(parents, function(index, parent) {
      var id = $(parent).attr('id');

      if (id) {
        turnMenuItemById(id);
      }
    });

    parents
      .addClass('active')
      .siblings()
      .removeClass('active');

    element
      .siblings()
      .removeClass('active');

    element.addClass('active');
  });

  $(window).trigger('hashchange');


  $('.b-model__close-btn').click(function() {
    $(this)
      .parents('.b-modal')
      .removeClass('active');

    document.location.hash = '';
  });
})();
  </script></div>